@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  @include center;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
